.page-top-buffer {
    margin-top: 30px;
}

.header {
    color: #269ccc;
}

.profile-thumbnail {
    width: 350px;
    height: 525px;
}

body {
    background: #f8f8f8;
}

.list-text {
    font-size: 1.2em;
}

.job-title {
    font-style: italic;
}

.social-link {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}